# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# All hidden files & folders
.*
Debug/*

!/.gitignore
.vs/DSTR-Assignment/v16/.suo
.vs/DSTR-Assignment/v16/Browse.VC.db
.vs/DSTR-Assignment/v16/ipch/d6016975e9d4c04d.ipch
.vs/DSTR-Assignment/v16/.suo
.vs/DSTR-Assignment/v16/.suo
.vs/DSTR-Assignment/v16/Browse.VC.db
Debug/DSTR-Assignment.exe.recipe
Debug/DSTR-Assignment.ilk
Debug/DSTR-Assignment.log
Debug/DSTR-Assignment.pdb
Debug/DSTR-Assignment.tlog/CL.command.1.tlog
Debug/DSTR-Assignment.tlog/CL.read.1.tlog
Debug/DSTR-Assignment.tlog/CL.write.1.tlog
Debug/DSTR-Assignment.tlog/DSTR-Assignment.lastbuildstate
Debug/DSTR-Assignment.tlog/link.command.1.tlog
Debug/DSTR-Assignment.tlog/link.read.1.tlog
Debug/DSTR-Assignment.tlog/link.write.1.tlog
Debug/DSTR-Assignment.vcxproj.FileListAbsolute.txt
Debug/vc142.idb
Debug/vc142.pdb
