# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# All hidden files & folders
.*

!/.gitignore
.vs/DSTR-Assignment/v16/.suo
.vs/DSTR-Assignment/v16/Browse.VC.db
.vs/DSTR-Assignment/v16/ipch/d6016975e9d4c04d.ipch
